*{
	margin: 0%;
}
	.navigation{
	padding: 0.9%;
}
.navigation img{
	vertical-align: middle;
}
.navigation a{
	text-decoration:none;
	color: black;
	margin-left:3%;
	font-size:15px;
	font-family: 'Poppins', sans-serif;
}
.logo{
	margin: 0% 8% 0% 4%;
}
#signin{
	margin-left: 14%;
	border-radius: 25px;
	background-color: #00baf2;
	color: white;
	text-align: center;
	padding: 0.6%;
}
.msg{
	text-align: center;
	background-color: #F5F5F5;
	padding:0.8%;
	font-family: "Poppins";
}
.sec2{
	font-family: "Poppins";
	justify-content: space-between;
	display: flex;
	padding: 8% 0% 5% 10%;
}
.India{
	font-size: 55px;
	margin-top: 5%;
}
.recharge{
	margin-bottom:3%;
	font-size: 19px;
}
.download{
	border: 1px solid black;
	background-color: black;
	color: white;
	padding:1.5%;
	width: 48%;
	text-align: center;
	border-radius: 25px;
}
.download:hover{
	background-color: white;
	color: black;
}
.icon{
	margin-left: 1%;
}
.sec3{
	background-color: #00BAF2;
	color: white;
	padding: 4% 10%;
	font-family: "Poppins";
	font-size: 25px;
}
.sec3div1{
	display: flex;
	justify-content: space-between;
	padding-top: 3%;
}
.sec3div1 a{
	text-decoration: none;
	color: white;
	font-size: 15px;
}
.sec3div1 a:hover{
	background-color:#00adf2;
	padding: 1% 2% 1% 1%;
	border-radius: 5px;
}
.sec4{
	background-color: #0f4a8a;
	color: white;
	padding: 4% 10%;
	font-family: "Poppins";
	font-size: 25px;
}
.sec4div1 a:hover{
	background-color:#02386e;
	padding: 1%;
	border-radius: 5px;
}
.sec5{
	background-color:rgba(239, 239, 239, 0.6);
	padding: 5% 13%;
	font-family: "Poppins";
}
.wallet{
	margin-top: 4% ;
	padding-left: 2%;
	font-weight: bold;
}
.heading{
	margin-bottom: 3%;
	font-size: 40px;
}
.child1{
	display: flex;
}
.sec5div1{
	background-color: white;
	display: flex;
	justify-content: space-between;
	padding: 6% 5% 6% 10%;
	border-radius: 7px;
}
.fastest{
	margin: 8% 0% 4% 0%;
	font-size: 33px;
}
.load{
	margin-bottom: 10%;
}
.bank{
	margin: 8% 0% 4% 0%;
	font-size: 33px;
}

.sec5div2{
	background-color: white;
	display: flex;
	justify-content: space-between;
	padding: 6% 5% 6% 10%;
	border-radius: 7px;
	margin-top:4% ;
}
.sec5div3{
	background-color: white;
	display: flex;
	justify-content: space-between;
	padding: 8% 5% 5% 10%;
	border-radius: 7px;
	margin-top:4% ;
}
.learn{
	border-radius:25px;
	color: white;
	background-color: #0f4a8a;
	width: 26%;
	text-align: center;
	padding: 2%;
}
.learn:hover{
     background-color: skyblue;
}
.sec5div4{
	display: flex;
	justify-content: space-evenly;
	font-family: "Poppins";
}
.child2{
	background-color: white;
	margin: 4% 4% 0% 0%;
	padding: 6% 4% 0% 6%;
	border-radius: 7px;
}
.child3{
	background-color: white;
	margin: 4% 0% 0% 0%;
	padding: 10% 4% 0% 6%;
	border-radius: 7px;
}
.unlimited{
	padding: 3% 0%;
	font-size:37px;
	font-family: "Poppins";
}
.credit{
	padding: 3% 0%;
	font-size:37px;
	font-family: "Poppins";
}
.div4para{
	font-size: 19px;
	padding-bottom: 12%;
}
.sec6{
	display: flex;
	justify-content: space-between;
	padding: 10% 13%;
	font-family: "Poppins";
}
.financial{
	font-size: 45px;
	padding-bottom:10%;
}
.sincere{
	padding: 8% 0% 6% 0%;
	font-size: 39px;
}
.sec7{
	display: flex;
	justify-content: space-between;
	padding: 4% 15%;
	font-family: "Poppins";
	background: url("image/bgm.png");
	background-size: 100%;
}
.build{
	font-size: 36px;
	padding: 4% 0%;
}
.sec7para{
	padding-bottom: 5%;
	font-size: 19px;
}
.sec8{
	display: flex;
	justify-content: space-between;
	padding: 4% 14% 4% 13%;
	font-family: "Poppins";
	background-color: white;
}
.insurance{
	font-size: 38px;
	padding: 4% 0%;
}
.sec8para{
	font-size: 19px;
	padding-bottom: 4%;
}
.sec9{
	background-color:rgba(239, 239, 239, 0.6);
	display: flex;
	justify-content: space-between;
	padding: 6% 14% 0% 14%;
	font-family: "Poppins";
}
.loan{
	padding: 5% 0%;
	font-size: 34px;
}
.sec9para{
	padding-bottom: 4%;
	font-size: 16px;
}
.sec10{
	background-color: white;
	padding: 5% 13% 0% 13%;
	font-family: "Poppins";
}
.sec10div1{
	background-color:rgba(239, 239, 239, 0.6);
	display: flex;
	justify-content: space-between;
	padding: 7% 0% 7% 8%;
	border-radius: 7px;
}
.mainheading{
	padding: 5% 13% 3% 0%;
	font-size: 45px; 
}
.head1{
	padding: 19% 0% 4% 0%;
	font-size: 33px;
}
.sec10para1{
	padding-bottom: 5%;
}
.sec10div2{
	background-color:rgba(239, 239, 239, 0.6);
	display: flex;
	justify-content: space-between;
	padding: 5% 0% 6% 8%;
	border-radius: 7px;
	margin-top:4% ;
}
.sec11{
	margin: 10% 0% 7% 13%;
	font-family: "Poppins";
}
.sec11div{
	display: flex;
	justify-content: space-between;
}
.head{
	padding: 4% 0% 8% 0%;
	font-size: 25px;
}
.help{
	font-size: 37px;
	margin-bottom: 6%;
}
.more{
	padding-top:4% ;
}
.matter{
	font-size: 19px;
}

@media (max-width: 1366px){
	.navigation a{
		font-size: 14px;
	}
}

@media (max-width: 390px){
	.navigation a{
		font-size: 4px;
	}
	#signin{
		margin-left: 5%;
	}
	.msg{
		font-size: 8px;
	}
	.India{
		font-size: 14px;
	}
	.recharge{
		font-size: 8px;
	}
	.download{
		font-size: 5px;
	}
	.sec3 h1{
		font-size: 12px;
	}
	.sec3div1{
		flex-direction: column;
		align-items: center;
	}
	#last{
		margin-left: 20%;
	}
	#end{
		margin-right:22%;
	}
	.sec4 h1{
		font-size: 10px;
	}
	.heading{
		font-size: 14px;
	}
	.wallet{
		font-size: 10px;
	}
	.fastest{
		font-size: 11px;
	}
	.load{
		font-size: 4px;
	}
	.bank{
		font-size: 11px;
	}
	.learn{
		font-size: 5px;
	}
	.unlimited{
		font-size: 8px;
	}
	.credit{
		font-size: 8px;
	}
	.div4para{
		font-size: 4px;
	}
	.financial{
		font-size: 12px;
	}
	.sincere{
		font-size: 11px;
	}
	.sec6 p{
		font-size: 5px;
	}
	.build{
		font-size: 10px;
	}
	.sec7para{
		font-size: 5px;
	}
	.sec7 div{
		padding-left: 12%;
	}
	.insurance{
		font-size: 13px;
	}
	.sec8para{
		font-size: 5px;
	}
	.loan{
		font-size: 13px;
	}
	.sec9para{
		font-size: 5px;
	}
	.sec9 div{
		padding-left: 12%;
	}
	.mainheading{
		font-size: 14px;
	}
	.head1{
		font-size: 13px;
	}
	.sec10para1{
		font-size: 5px;
	}
	.help{
		font-size: 15px;
	}
	.head{
		font-size: 10px;
	}
	.matter{
		font-size: 6px;
	}
	.more{
		font-size: 4px;
	}
}